.header {
  display: flex;
  justify-content: space-between;
  background-color: #246633;
  height: 3.75rem;
  min-height: 3.75rem;
  max-height: 4.5rem;
  width: 100%;
}

.leftSide {
  display: flex;
  height: inherit;
  min-height: inherit;
  max-height: inherit;

  align-items: center;
}

.rightSide {
  display: flex;
  width: 23.12rem;
  padding: 0.5rem 0rem;
  justify-content: space-around;

  align-items: center;
}

.img {
  height: 2.9rem;
  margin-left: 0.3rem;
}
