@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.backgroundColor {
  background-color: #81c690;
  height: 100vh;
  padding-top: 10px;
}
.h1 {
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin: 0;
}
.frame {
  height: 69%;
  width: 45%;
  background-color: white;
  margin: 20vh;
  margin-left: 58vh;
}
.innerframe {
  margin: 1rem;
  margin-top: 1.5rem;
  width: 95%;
  height: 75%;
}
