@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
    
}


/* :root{

    --main-color: #5D9AB1;
    --accent-color: #BF6A7A;
    --dark-color: #2B5566;
} */
html {
    /* 현재 짧아서 작동하는지 모름 */
    scroll-behavior: smooth;
}
.rounded {
    line-height: 50px;
    background: skyblue;
    height: 50px; width: 200px;
    border-radius: 15px;
  }
.right-box {
    background: white;
    float: right;
   
    
  }
  .upupup{
   
    position: relative;
    animation: fadeInUp 1s;
 
   
}
.conA{
    /* background-image: url(img/skku.png); */
    height: 80Vh;
}
.Main{
    font-family: 'Black Han Sans';

    margin-top: 150px;
    font-size: 200px;
    background-image: url(img/skku1.png);
    color: black;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    
}
.hidden{
    display: none;
}
