@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400&display=swap");
.backgroundColor {
  background-color: #a6e89b;
  height: 100vh;
  padding-top: 10px;
}
.h1 {
  margin-left: 45vw;
  margin-top: 10%;
  margin-bottom: 30px;
  font-size: 150px;
  height: 150px;
  font-family: "Teko", sans-serif;
  font-weight: normal;
}
