/* LoginHeader와 LoginForm 공유하는 class */
.OuterWrapper{
    display: flex;
    justify-content: center;
}

/* LoginHeader만 사용하는 class */
.HeaderContent{
    text-align: center;
    border-radius: 5px;
    color: white;
    width: 10vw;
}

/* LoginForm만 사용하는 class */
.LoginFormcontentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    gap: 5px;
    width: 360px;
}
.LoginFormInput{
    min-height: 48px;
    border-radius: 5px;
    border: 1px #8491A7 solid;
    padding: 0 10px;
}
.LoginFormInput::placeholder{
    color: #8491A7
}
.LoginFormLoginBtn{
    min-height: 48px;
    border: none;
    border-radius: 5px;
    background-color: #246633;
    color: white;
}
.LoginFormLoginBtn:active{
    transform: scale(0.95);
}
.LoginFormSigninBtn{
    min-height: 48px;
    border: none;
    background-color: white;
    border-radius: 5px;
    color: gray;
}
.LoginFormSigninBtn:active {
    transform: scale(0.95);
  }