.backgroundColor {
  background-color: #246633;
  color: #ffffff;
  height: 50px;
  width: 150px;
  font-size: 20px;
  border-radius: 5px;
  border: 0px;
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url("../public/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}
