@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lugrasimo&display=swap"); */

.backgroundColor {
  background-color: #246633;
  color: #ffffff;
  height: 40px;
  width: 140px;
  font-size: 20px;
  border-radius: 5px;
  border: 0px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  /* font-family: 'Lugrasimo', cursive; */
}