.wrapper{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: inherit;
}
.labelWrapper{
    display: flex;
    align-items: end;
    min-height: 48px;
}
.label{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
}
.input{
    font-size: 17px;
    min-height: 48px;
    border-radius: 5px;
    border: 1px #8491A7 solid;
    padding: 0 10px;
}