.button{
    min-height: 48px;
    border-radius: 5px;
    background-color: #246633;
    color: white;
}
.buttonArea{
    grid-area: btn;
}
.EmailWrapper{
    display: grid;
    grid-template-areas: 
        "email ."
        "email btn"
    ;
}
.email{
    grid-area: email;
}