.loginBox,
.searchBox {
  height: 100%;
}

.searchInput,
.loginButton {
  box-sizing: border-box;
  outline: 0;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 0.3rem;
}

.searchInput {
  width: 15rem;
  height: 100%;
  padding: 0.2rem 0.4rem;
}
.searchInput::placeholder {
  color: #b9dac0;
}

.loginButton {
  height: 100%;
  padding: 0rem 0.5rem;

  cursor: pointer;
}

/* 모바일 용 미디어 쿼리 정의 */
@media (max-width: 500px) {
  .searchBox {
    display: flex;
    flex-grow: 1;
  }

  .searchInput {
    width: 100%;
    color: black;
    border: 1px solid gainsboro;
  }

  .searchInput:focus {
    border: 1px solid #246633;
  }

  .loginButton {
    padding: 0rem 0.2rem;
    color: black;
    border: none;
  }

  .searchInput::placeholder {
    color: black;
  }
}
