.header {
  display: flex;
  width: 100%;
  height: 3.75rem;

  background-color: #246633;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  height: inherit;

  align-items: center;
}

.rightSide {
  display: flex;
  width: auto;
  height: inherit;
  padding: 0.5rem 0rem;
  padding-right: 1rem;

  gap: 1rem;
  align-items: center;
}

.img {
  height: 2.9rem;
  margin-left: 0.5rem;
}

.loginBox,
.searchBox {
  height: 100%;
}

.searchInput,
.loginButton {
  height: 100%;

  outline: 0;
  border: 2px solid white;
  border-radius: 0.3rem;

  background-color: transparent;
  color: white;
}

.searchInput {
  width: 15rem;
  padding: 0.2rem 0.4rem;
}
.searchInput::placeholder {
  color: #b9dac0;
}

.loginButton {
  padding: 0rem 0.5rem;
  cursor: pointer;
}

.menuButton {
  cursor: pointer;
}

.iconMenu {
  color: white;
  width: 2rem;
  height: 2rem;
}

/* 모바일 용 미디어 쿼리 정의 */
@media (max-width: 500px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    height: 6.25rem;
    background-color: transparent;
    justify-content: center;
  }

  .leftSide {
    display: flex;
    width: 100%;
    height: 3.75rem;
    background-color: #246633;

    align-items: center;
    justify-content: center;
  }

  .rightSide {
    display: flex;
    width: 100%;
    height: 2.5rem;
    padding: 0.2rem 0.4rem;

    background-color: rgba(256, 256, 256, 0.8);
    border-bottom: 1px solid gainsboro;

    justify-content: space-between;
    gap: 0.8rem;
    align-items: center;
  }

  .searchBox {
    display: flex;
    flex-grow: 1;
  }

  .searchInput {
    width: 100%;
    color: black;
    border: 1px solid gainsboro;
  }

  .searchInput:focus {
    border: 1px solid #246633;
  }

  .loginButton {
    padding: 0rem 0.2rem;
    color: black;
    border: none;
  }

  .searchInput::placeholder {
    color: black;
  }

  .menuButton {
    order: -1;
  }

  .iconMenu {
    color: black;
    width: 1.5rem;
    height: 1.5rem;
  }
}
