
.blockWrapper{
    border-top: solid 1px #656D76;
    padding: 10px;
}
.firstLine{
    display: flex;
    height: 30px;
    gap: 7px;
}
.thirdLine{
    display: flex;
    height: 24px;
    margin-top: 10px;
    gap: 10px;
}

.box{
    height: inherit;
}

.instructorName{
    font-size: 25px;
    color: #246633;
    padding-right: 8px;
}
.lectureName{
    font-size: 25px;
    font-weight: bold;
    color: #246633;
}
.normalText{
    font-size: 21px;
    color: #656D76;   
}
.img{
    height: inherit;
}